<a href="https://colab.research.google.com/github/minn14/Practice/blob/main/DL_Lesson4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# An example of an integer

In [1]:
age = 25
print("Age:", age)

Age: 25

# An example of a float

In [2]:
average_score = 82.5
print("Average Score:", average_score)

Average Score: 82.5

# An example of a string

In [3]:
name = input() # A pop-up box will appear and wait for your input. Type a name.
print("Hello, %s!"%name)  # % operator: The % operator is used for string for string formatting. It links the string "Hello, %s!" with the variable name to replace the  %s placeholder.

민채
Hello, 민채!

In [6]:
name = input()  # A pop-up box will appear and wait for your input. Type a name.
print(f"Hello, {name}!")    #

민채
Hello, 민채!

In [10]:
mytext = """
Long long time ago, there lived a lion called Lezzi. Ond day, he met a boy who...
"""
print (mytext)

Long long time ago, there lived a lion called Lezzi. Ond day, he met a boy who...

# An example of a list

In [11]:
favorite_books = ["To kill a Mockingbird", "1984", "The Great Gatsby"]
print("Favorite Books:", favorite_books)

Favorite Books: ['To kill a Mockingbird', '1984', 'The Great Gatsby']

# An example of a dictionary

In [12]:
student_grades = {"Alice": 90, "Bob": 85, "Charlie": 95}
print("Student Grades:", student_grades)

Student Grades: {'Alice': 90, 'Bob': 85, 'Charlie': 95}

In [13]:
# Return Alice's grade
student_grades['Alice']

90

# An example of a tuple

In [14]:
months_of_the_year = ("January", "February", "March", "April")
print("Months of the Year:", months_of_the_year)

Months of the Year: ('January', 'February', 'March', 'April')